<div id="comentedit">

    <div class="pfp"><img class="pic"
            src="https://lh4.googleusercontent.com/-ZsdGLrjnEXc/AAAAAAAAAAI/AAAAAAAAAAA/AKF05nBzbwJWlR51UKQIC_ALX_Rs51ExlA/photo.jpg">
    </div>
    <div class="bloque">
        <form class="bloque2" action="/producto/{{producto.id}}" method="post">
            <div class="usernamediv"><input type="text" class="username" name="username"
                    placeholder="Nombre de usuario"></div>
            <div class="punt">
                <select name="punt" id="val" required>
                    <option value="">...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <i class="bi bi-star-fill staricon"></i>
            </div>
            <div class="opinion">
                <textarea name="commentText" type="text" class="campocoment"
                    placeholder="Introduzca su texto del comentario"></textarea>

                <input type="submit" class="btpublicar" style="border-radius:10px; border-color: beige;"
                    value="Publicar">
            </div>
        </form>
    </div>
</div>
{{#comments}}
<div class="comentario">
    <div class="fotoPerfil" style="background: rgb({{r}},{{g}},{{b}});">
        <p class="letra">{{firstL}}</p>
    </div>
    <div class="nombreUser">{{username}}</div>
    <div class="puntuacion">{{punt}}/5 <i class="bi bi-star-fill staricon"></i></div>
    <div class="opinionUser">{{commentText}}</div>
</div>
{{/comments}}